.ticker {
    font-family: 'Lato', sans-serif;
    font-size: 6rem;
    color: #ffffff;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: .2s ease-in;

    &:hover {
        color: #B7EEF1;
        animation-play-state: paused;
    }
}